@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  background-color: #ecf0f1;
}

.input-form {
  width: 40%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.input-group label {
  font-size: 1.6rem;
  color: #333333;
  margin-bottom: 0.4rem;
}

.input-group input {
  outline: none;
  border: none;
  background-color: #FFFFFF;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  color: #333333;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0.4rem 0.8rem;
}
